* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ===== COLORES ===== */
:root {
  --brown-dark: #5a3825;
  --brown: #8b5e3c;
  --cream: #f5e6d3;
  --beige: #e8d5c0;
  --green-soft: #9db5a3;
  --white: #ffffff;
  --pink-soft:#f7c6c7;
  
}

body {
  font-family: 'Georgia', serif;
  background-color: var(--cream);
  color: var(--brown-dark);
}

/* CONTENEDOR */
.container {
  width: 90%;
  max-width: 1000px;
  margin: auto;
}

/* ===== HEADER ===== */
.header {
  text-align: center;
  padding: 40px 0; 
}

.titulo {
  font-size: 37px; 
  color: var(--brown-dark);
}

.subtitulo {
  color: var(--brown);
}

/* ===== HERO ===== */
.hero {
  text-align: center;
  margin-bottom: 32px; 
  color: var(--brown);
}

/* ===== TITULO ===== */
.section-title {
  margin: 32px 0 16px; 
  color: var(--brown-dark);
}

/* ===== GALERIA ===== */
.galeria {
  display: flex;
  flex-direction: column;
  gap: 24px; 
}

/* ===== TARJETAS ===== */
.proyecto-card {
  display: flex;
  background: var(--white);
  border-radius: 15px;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  transition: 0.3s;
}

.proyecto-card:hover {
  transform: translateY(-4px);
}

/* ===== IMAGEN ===== */
.proyecto-imagen {
  width: 120px;
  height: 120px;
  position: relative;
}

/* COLORES DE PROYECTOS */
.proyecto-1 {
  background: var(--brown);
}

.proyecto-2 {
  background: var(--green-soft);
}

.proyecto-3 {
  background: var(--beige);
}

.proyecto-4 {
  background : var (--pink-soft);

/* NUMERO */
.numero-proyecto {
  position: absolute;
  top: 8px;
  left: 8px;
  background: var(--cream);
  color: var(--brown-dark);
  padding: 4px 8px;
  border-radius: 8px;
  font-size: 11px; 
}

/* SIN OVERLAY */
.overlay {
  display: none;
}

/* ===== INFO ===== */
.proyecto-info {
  padding: 16px; 
}

.proyecto-info h3 {
  color: var(--brown-dark);
  margin-bottom: 5px;
}

.proyecto-info p {
  font-size: 14px; 
  margin-bottom: 8px;
  color: var(--brown);
}

/* ===== ETIQUETA ===== */
.etiqueta {
  background: var(--green-soft);
  color: var(--brown-dark);
  padding: 4px 10px;
  border-radius: 20px;
  font-size: 11px; 
}

/* ===== RESPONSIVE ===== */
@media (max-width: 768px) {
  .proyecto-card {
    flex-direction: column;
  }

  .proyecto-imagen {
    width: 100%;
    height: 140px;
  }
}
